<p>
  reservas-listado works!
</p>
<a [routerLink]="['./', 10]">Ir a detalle</a>
<a [routerLink]="['/../components/login/login']">Ir a login</a>

<div *ngFor="let r of api.getAll()">
  {{r.id}} - {{r.name}}
</div>